.main-container {
    padding: 20px;
}
.submit-button {
    color: white;
    background-color: #147afc;
    border-radius: 4px;
    border: 1px solid #024a6a;
    width: 125px;
}
.add-button{
    width: 220px;
}
