.main-div{
    padding:10px;
}
.mat-column-recordNo{
    flex: 0 0 20%;
}
.table-black-text{
    color: #000;
}
.mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 24px;
    max-height: 65vh;
    overflow: unset !important;
    -webkit-overflow-scrolling: touch;
}

.mat-paginator {
    display: block;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 1;
}

// :host ::ng-deep .mat-row:nth-child(2n) {
//     background-color: rgba(206, 212, 218, 0.63);
//     border-bottom: 1px solid rgba(0, 0, 0, 0.3);
//   }
//   :host ::ng-deep .mat-row:not(:nth-child(n)) {
//     background-color: #ffffff;
//     border-bottom: 1px solid rgba(0, 0, 0, 0.3);
//   }
