<div class="main-modal-div">
  <div class="modal-header">
    <h2 class="header-text">Upload Document</h2>
    <div class="dialog-close" mat-dialog-close>&times;</div>
  </div>

  <mat-dialog-content class="dialog-content">
    <form class="addForm" [formGroup]="uploadForm" #formDirective="ngForm" (ngSubmit)="onSubmit()">
      <div class="doc-padding">
        <p class="dialog-header" [ngClass]="{
            red: uploadForm.get('docTypeControl').invalid && isSubmitClicked
          }">
          Document Name: <span class="red">*</span>
        </p>
        <input #input maxlength="100" formControlName="docTypeControl" class="form-input" [ngClass]="{
            'red-border':
              uploadForm.get('docTypeControl').invalid && isSubmitClicked
          }" />
        <div class="row">
          <div class="col-sm-9">
            <mat-error class="input-error" *ngIf="
                this.uploadForm.controls['docTypeControl'].invalid &&
                this.uploadForm.controls['docTypeControl'].dirty &&
                isSubmitClicked
              ">The above field should contain atleast one character
            </mat-error>
          </div>
          <div class="col-sm-3">
            <mat-hint class="comments-hint">{{ input.value.length }}/100</mat-hint>
          </div>
        </div>
      </div>
      <div class="row method-date-row">
        <div class="col-sm-6">
          <p class="del-method" [ngClass]="{
              red:
                uploadForm.get('deliveryMethodControl').invalid &&
                isSubmitClicked
            }">
            Delivery Method: <span class="red">*</span>
          </p>
          <mat-select class="empty" aria-label="Default select example" placeholder="Select Delivery Method"
            class="del-name" formControlName="deliveryMethodControl" [ngClass]="{
              'red-border':
                uploadForm.get('deliveryMethodControl').invalid &&
                isSubmitClicked
            }">
            <mat-option *ngFor="let deliveryMethod of deliveryMethods" [value]="deliveryMethod"
              (click)="onSelectionChange()">
              {{ deliveryMethod.name }}
            </mat-option>
          </mat-select>
        </div>
        <div class="col-sm-6">
          <p class="rec-date" [ngClass]="{
              red:
                uploadForm.get('receivedDateControl').invalid && isSubmitClicked
            }">
            Received Date: <span class="red">*</span>
          </p>
          <div class="input-group date-piker" (click)="picker.open()" [ngClass]="{
              'red-border':
                uploadForm.get('receivedDateControl').invalid && isSubmitClicked
            }" (dateChange)="onSelectionChange()">
            <input readonly class="form-control" [matDatepicker]="picker" [max]="maxDate"
              formControlName="receivedDateControl" />
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <fa-icon [icon]="faCalendarAlt" class="search-icon"></fa-icon>
              </span>
            </div>
          </div>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>
      <div class="upload-container">
        <cwb-document-uploader (filesEmitter)="onFileEmitted($event)" (filesDeleted)="onFileDeleted($event)"
          [isMultipleAllowed]="false"></cwb-document-uploader>
      </div>
      <!-- <mat-checkbox class="verify-doc" (click)="onCheckboxClicked()">Verify Document</mat-checkbox> -->
      <div class="misc-doc-footer popup-footer">
        <button type="button" mat-button (click)="onClear()" class="clear">
          Clear
        </button>
        &nbsp; &nbsp;
        <button mat-button type="submit" class="submit">Submit</button>
      </div>
    </form>
  </mat-dialog-content>
</div>