.modal-header .header-text {
  padding-left: 2%;
}

.root {
  width: 600px;
  max-height: calc(150vh - 90px);
  height: auto;
  overflow: auto;
  overflow-x: hidden;
}
.doc-padding {
  display: grid;
}
.uploading-text {
  margin: 0;
  padding-right: 10px;
}

.upload-container {
  margin-top: 10px;
}

.input-error {
  padding-right: 27%;
  white-space: nowrap;
}

.comments-hint {
  padding-left: 55%;
}
.form-input {
  width: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #929eb8;
  border-radius: 2px;
  opacity: 1;
}

.dialog-content {
  max-height: 150vh;
}

.dialog-header {
  padding-top: 0.5%;
  text-align: left;
  /* font: normal normal normal 14px/21px Roboto; */
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.del-method {
  margin-bottom: 2px;
  margin-top: 5px;
  text-align: left;
  /* font: normal normal normal 14px/21px Roboto; */
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.del-name {
  width: 110%;
  height: 24px;
  padding: 1%;
  border: 1px solid #929eb8;
  border-radius: 2px;
  opacity: 1;
}

.rec-date {
  margin-bottom: 2px;
  margin-top: 5px;
  text-align: left;
  /* font: normal normal normal 14px/21px Roboto; */
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.upload-main {
  margin-top: 2%;
  margin-left: 2.2%;
  width: 575px;
  height: 160px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px dashed #929eb8;
  border-radius: 2px;
  opacity: 1;
}

.upload-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  opacity: 0.31;
}

.drag-drop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  text-align: left;
  /* font: normal normal normal 15px/21px Roboto; */
  letter-spacing: 0px;
  color: #000000;
  opacity: 0.31;
}

.or {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.15rem;
}

.sel-upload {
  color: white;
  background-color: #147afc;
  border-radius: 4px;
  border: 1px solid #024a6a;
  width: 125px;
  height: 34px;
}

.addForm {
  padding: 10px;
}

.verify-doc {
  text-align: left;
  /* font: normal normal normal 13px/19px Roboto; */
  letter-spacing: 0px;
  color: #147afc;
  opacity: 1;
}

.misc-doc-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.upload-icon {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px dashed #929eb8;
  border-radius: 2px;
  color: #929eb8;
  font-size: 25px;
  opacity: 1;
}

.submit {
  color: white;
  background-color: #147afc;
  border-radius: 4px;
  border: 1px solid #024a6a;
  width: 125px;
  height: 34px;
}
::-webkit-scrollbar {
  width: 8px !important;
  height: 6px !important;
}
::-webkit-scrollbar-thumb {
  background: #666666 !important;
  border-radius: 8px !important;
}
.clear {
  color: #024a6a;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #024a6a;
  width: 85px;
  height: 34px;
}
.date-piker {
  height: 24px;
  width: 62%;
  background-color: white;
  border: 1px solid #929eb8;
  .form-control {
    height: 22px;
    background-color: white;
    border-radius: 0;
    font-size: 12px;
  }
  .input-group-text {
    height: 22px;
    background-color: white;
    border-radius: 0;
  }
  .ng-fa-icon {
    color: #147afc;
  }
}
.method-date-row {
  .col-sm-6 {
    width: auto;
  }
}
