.error-page-container {
    margin-top: 150px;

    .material-icons {
        font-size:  5rem;
        color: #000;
    }
    h1{
        font-size: 2.5rem;
        color: #000;
        font-weight: 500;
        margin-top: 1rem;
    }
    p{
        color: #000;
        font-weight: 400;
    }
}